Consider following code to answer further questions:

In [4]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]

df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

print(df)

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [3]:
# Print the data in the second row
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [5]:
# loc : Accesses data based on row and column labels

print(df.loc[1, 'course_name'])
print(df.loc[1, 'duration'])

Machine Learning
3

In [6]:
# iloc : Accesses data based on integer positions

print(df.iloc[1, 0])
print(df.iloc[1, 1])

Machine Learning
3

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:

In [8]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [9]:
# Reindex the dataframe
reindex = [3, 0, 1, 2]
new_df = df1.reindex(reindex)

# Display the outputs
loc_output = new_df.loc[2]  # Accessing row by index label 2
iloc_output = new_df.iloc[2]  # Accessing the 3rd row (position 2)

(loc_output, iloc_output)

(column_1    0.063207
 column_2    0.711056
 column_3    0.233075
 column_4    0.482094
 column_5    0.327600
 column_6    0.735514
 Name: 2, dtype: float64,
 column_1    0.348092
 column_2    0.839641
 column_3    0.641169
 column_4    0.393515
 column_5    0.590925
 column_6    0.937932
 Name: 1, dtype: float64)

new_df.loc[2]: This will access the row where the index is 2 in the reindexed dataframe. If index 2 exists in new_df, this will return that row. However, in this case, since 0 is an invalid index in the original dataframe, the row with index 0 will likely contain NaN values.

new_df.iloc[2]: This will return the 3rd row (position 2) in new_df regardless of the index label. In this case, iloc is based on the integer position, so it will give the actual 3rd row (after the reindexing).

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [10]:
import pandas as pd
import numpy as np

# Original dataframe setup
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# (i) Mean of each column
mean_of_columns = df1.mean()

# (ii) Standard deviation of 'column_2'
std_of_column_2 = df1['column_2'].std()

# Display the results
(mean_of_columns, std_of_column_2)

(column_1    0.435259
 column_2    0.685503
 column_3    0.418569
 column_4    0.602549
 column_5    0.699150
 column_6    0.392184
 dtype: float64,
 0.3175080899922842)

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [11]:
import pandas as pd
import numpy as np

# Original dataframe setup
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# Replacing the second row of 'column_2' with a string
df1.loc[2, 'column_2'] = 'string_value'

# Finding the mean of 'column_2'
mean_of_column_2 = df1['column_2'].mean()

# Display the result
mean_of_column_2

<ipython-input-11-1e247f6a5f62>:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'string_value' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.loc[2, 'column_2'] = 'string_value'

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Data Type Mismatch: When you replace a value in column_2 with a string, the pandas column automatically converts the entire column to a dtype (data type) that can accommodate both the numerical values and the string. This typically results in an object data type (dtype='O'), which is not compatible with numerical operations like mean.
String in Numerical Column: Since pandas cannot compute the mean of a column that contains mixed data types (numbers and strings), the error is raised when trying to calculate the mean.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

Window functions in pandas apply operations over a specific "window" or subset of data, typically for time series analysis or smoothing. The window slides across the dataset, allowing computations to be performed on subsets of data.

Types of Window Functions:

1. **Rolling Window**:
   - Applies a function over a fixed-size sliding window.
   - Example: `df['column'].rolling(window=3).mean()` computes the rolling mean over a window of 3.

2. **Expanding Window**:
   - Applies a function over an expanding window, starting from the first value and increasing as more data becomes available.
   - Example: `df['column'].expanding().mean()` calculates the cumulative mean.

3. **Exponential Moving Average (EWMA)**:
   - Applies an exponentially weighted moving average, giving more weight to recent data.
   - Example: `df['column'].ewm(span=3).mean()` computes the EWMA with a span of 3.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [12]:
import pandas as pd

# Get the current date and time
current_datetime = pd.to_datetime('today')

# Extract and print the current month and year
current_month_year = current_datetime.strftime('%B %Y')
print(current_month_year)

December 2024

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.
Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [15]:
import pandas as pd

# Input: Take two dates as input from the user
date1_input = input("Enter the first date (YYYY-MM-DD): ")
date2_input = input("Enter the second date (YYYY-MM-DD): ")

# Convert the input strings to pandas datetime objects
date1 = pd.to_datetime(date1_input)
date2 = pd.to_datetime(date2_input)

# Calculate the difference between the two dates
time_difference = date2 - date1

# Extract the difference in days, hours, and minutes
days = time_difference.days
hours = time_difference.seconds // 3600
minutes = (time_difference.seconds % 3600) // 60

# Display the results
print(f"Difference: {days} days, {hours} hours, {minutes} minutes")

Enter the first date (YYYY-MM-DD): 1998-12-18
Enter the second date (YYYY-MM-DD): 1994-10-12
Difference: -1528 days, 0 hours, 0 minutes

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

# Function to read the CSV and process the categorical data
def process_categorical_data():
    # Input: Get the file path, column name, and category order from the user
    file_path = input("Enter the CSV file path: ")
    column_name = input("Enter the column name to convert to categorical: ")

    # Read the CSV file into a DataFrame
    try:
        df = pd.read_csv(file_path)
        print("\nData Loaded Successfully!\n")
        print("Preview of the data:\n", df.head())
    except FileNotFoundError:
        print("The file path is incorrect or the file does not exist.")
        return

    # Check if the column exists in the DataFrame
    if column_name not in df.columns:
        print(f"Column '{column_name}' does not exist in the dataset.")
        return

    # Input: Get the category order from the user
    category_order_input = input(f"Enter the category order for column '{column_name}' separated by commas: ")
    category_order = category_order_input.split(",")

    # Convert the specified column to a categorical type with the provided category order
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

    # Sort the DataFrame by the categorical column
    sorted_df = df.sort_values(by=column_name)

    # Display the sorted DataFrame
    print("\nSorted Data based on the categorical column:")
    print(sorted_df)

# Call the function to run the program
process_categorical_data()

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Function to read the CSV file and plot the stacked bar chart
def plot_sales_data():
    # Input: Get the file path from the user
    file_path = input("Enter the CSV file path: ")

    # Read the CSV file into a DataFrame
    try:
        df = pd.read_csv(file_path)
        print("\nData Loaded Successfully!\n")
        print("Preview of the data:\n", df.head())
    except FileNotFoundError:
        print("The file path is incorrect or the file does not exist.")
        return

    # Check if necessary columns are present in the dataset
    if 'Date' not in df.columns or 'Product_Category' not in df.columns or 'Sales' not in df.columns:
        print("The dataset must contain 'Date', 'Product_Category', and 'Sales' columns.")
        return

    # Convert the 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])

    # Group the data by 'Date' and 'Product_Category' and sum the sales
    grouped_data = df.groupby([df['Date'].dt.to_period('M'), 'Product_Category'])['Sales'].sum().unstack(fill_value=0)

    # Plot the stacked bar chart
    grouped_data.plot(kind='bar', stacked=True, figsize=(10, 6))

    # Set the chart title and labels
    plt.title('Sales Data by Product Category Over Time')
    plt.xlabel('Date')
    plt.ylabel('Sales')
    plt.xticks(rotation=45)
    plt.tight_layout()

    # Display the chart
    plt.show()

# Call the function to run the program
plot_sales_data()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv

+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [ ]:
import pandas as pd

# Function to read the CSV file, calculate statistics, and display the table
def calculate_statistics():
    # Input: Get the file path from the user
    file_path = input("Enter the file path of the CSV file containing the student data: ")

    # Read the CSV file into a DataFrame
    try:
        df = pd.read_csv(file_path)
        print("\nData Loaded Successfully!\n")
        print("Preview of the data:\n", df.head())
    except FileNotFoundError:
        print("The file path is incorrect or the file does not exist.")
        return

    # Check if the necessary column exists
    if 'Test Score' not in df.columns:
        print("The dataset must contain a 'Test Score' column.")
        return

    # Calculate the mean, median, and mode of the test scores
    mean_score = df['Test Score'].mean()
    median_score = df['Test Score'].median()
    mode_score = df['Test Score'].mode().tolist()  # mode() returns a Series, so convert to list

    # Format the mode as a string of values
    mode_score_str = ', '.join(map(str, mode_score))

    # Prepare the table for displaying the results
    result = pd.DataFrame({
        'Statistic': ['Mean', 'Median', 'Mode'],
        'Value': [mean_score, median_score, mode_score_str]
    })

    # Display the results in a table format
    print("\n+-----------+--------+")
    print("| Statistic | Value  |")
    print("+-----------+--------+")
    for index, row in result.iterrows():
        print(f"| {row['Statistic']} | {row['Value']} |")
    print("+-----------+--------+")

# Call the function to run the program
calculate_statistics()